$color: tomato;
$centro: center;
$flex: flex;
$ancho: 500px;
$top_pd: 15px;
$color_sombra: #333;
$color_header: green;
$ancho_escala: 75%;
$pd: 2%;
$color_title: white;
$tamano_font: 2rem;
$izquierda: left;
$ancho_img: 250px;

$colores: (
    "color-card": $color,
    "color-header": $color_header
);

@mixin alinea-centro {
    text-align: $centro;
    justify-content: $centro;
}

%jugador {
	display: $flex;
    @include alinea-centro();
}

%jugador-card {
    background-color: map-get($colores, 'color-card');
    width: $ancho;
    padding-top: $top_pd;
    box-shadow: 0px 5px 10px $color_sombra;
}

%jugador-sombra {
    filter: drop-shadow(0 5px 10px $color_sombra);
}

%jugador-header {
    background-color: map-get($colores, 'color-header');
    width: $ancho_escala;
    clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
}

%jugador-title {
    color: $color_title;
	font-size: $tamano_font; 
	text-align: $izquierda;
}

%jugador-image {
    width: $ancho_img;
}

%jugador-pd {
    padding: $pd;
}

.jugador{
	@extend %jugador;
    @extend %jugador-pd;

    &__card{
        @extend %jugador-card;
    }
    
    &__sombra{
        @extend %jugador-sombra;
    }

    &__header{
        @extend %jugador-header;
        @extend %jugador-pd;    
    }

    &__title{
        @extend %jugador-title;    
    }

    &__image{
        @extend %jugador-image;
    }

}